@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Red Hat Mono', monospace;
  background-color: rgb(10, 7, 16);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 620px;
  margin-inline: auto;
  padding-inline: 12px;
  height: 100%;
}

pre {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

#terminal-container {
  flex: 1;
  width: 100%;
}

#terminal-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  border-width: 1px;
  border-color: whitesmoke;
  border-style: solid;
  border-radius: 5px;
  text-align: left;
}

.terminal-header {
  text-align: center;
  padding: 8px 0;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid whitesmoke;
}
.terminal-footer {
  text-align: center;
  margin: 0;
  padding: 0;
}

.terminal-output {
  flex: 1;
  padding: 8px;
}

#terminal {
  color: rgb(238, 238, 238);
}

#typing::before {
  content: 'root@realmit.eu:~$ ';
  color: rgb(105, 232, 101);
}

#typing {
  color: rgb(238, 238, 238);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#cursor {
  color: rgb(238, 238, 238);
  animation-name: blink;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(1, -0.3, 0, 1.33);
  animation-iteration-count: infinite;
}

/* Blog */
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 12px;
  height: 100%;
}
#posts-container {
  flex: 1;
}
.posts-section {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
}
.posts-section h2 {
  margin: 0;
  padding: 0;
}
.posts-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.posts-section li {
  margin-top: 4px;
}

/* Utility */

.text-left {
  text-align: left;
}

.text-red {
  color: rgb(232, 101, 101);
}

.text-orange {
  color: rgb(232, 162, 101);
}

.text-lime {
  color: rgb(105, 232, 101);
}

.text-blue {
  color: rgb(101, 142, 232);
}

.text-link {
  color: #00a6ff;
}
.text-link-200 {
  color: #125072;
}

.text-100 {
  color: rgb(238, 238, 238);
}

.text-200 {
  color: rgb(154, 154, 154);
}

.text-300 {
  color: rgb(105, 105, 105);
}

.text-400 {
  color: rgb(33, 33, 33);
}
svg,
.underline-none {
  color: #00a6ff;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}

.cursor {
  cursor: pointer;
}

.socials {
  fill: #00a6ff;
  height: 16px;
  width: 16px;
}
